<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="root"     value="F:\_WinBox" />
		<add key="packer"   value="https://releases.hashicorp.com/packer/0.12.2/packer_0.12.2_windows_amd64.zip" />
		<add key="security" value="TLS12" />
		<add key="isoStore" value="F:\_WinISOs" />
		<add key="builder"  value="virtualbox-iso" />
		
		<add key="locale"   value="de-DE" />
		<add key="org"      value="WinBox" />
		<add key="user"     value="wbox" />
		<add key="pass"     value="WBox123$" />
	</appSettings>
</configuration>